@model DataModel.Item

@{
    ViewBag.Title = "Детали";
}

<h2>Детали</h2>

<div>
    <h4>Загрузка</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FileName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FileName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ResultPath)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ResultPath)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UploadPath)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UploadPath)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UploadDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UploadDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Вернуться к списку", "Index")
</p>
